.header-layout{
  height: 60px;
}
.header-background{
  background: linear-gradient(90deg, $warning 49.04%, $warning2 81.06%);
}
.notification-icon{
  span{
    top: -3px;
    right: 1px;
  }
}
#header{
  @include responsive($xs) {
    padding: 0;
  }
  @include responsive($med) {
    padding-left: calc($grid-gutter-width * 0.5);
  }
  .title{
    @include responsive-max($med) {
      max-width: 330px;
    }
    @include responsive-max($sm) {
      max-width: 220px;
    }
    @include responsive-max(375px) {
      max-width: 180px;
    }
    @include responsive-max(320px) {
      max-width: 110px;
    }
  }
}