p.mitra-header {
    margin-bottom: 0.25rem;
}

.download-template-link {
    cursor: pointer;
}

.download-surat-link {
  cursor: pointer;
  color: blue;
  text-decoration: underline;
  margin-right: 145px;
}

.text-end {
  text-align: right;
}


.drop-file-input {
    position: relative;
    width: 100%;
    height: 240px;

    display: block;
    align-items: center;
    justify-content: center;
}

.drop-file-input input {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.form-check-input {
    border-color: black;
}

.form-check-input:hover {
    cursor: pointer;
}

.form-check-input:focus {
    border-color: black;
}

.form-check-input:checked {
    border-color: black;
}

.warning-badge {
    --bs-bg-opacity: 1;
    background-color: #ffa500 !important;
}
.form-select {
    padding: 8px 16px;
}

